<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8" />
    <title>EVENTR</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
    <h1>EVENTR</h1>
    <!-- User Profile: -->
    <nav class="nav navbar-nav">User Navigation
      <ul class="list-group" ng-controller="AuthController">User:{{$scope.username}}
        <button ng-click="logout()" class="btn btn-default">Logout</button>
      </ul>
    </nav>

    <!-- Notification Bar: -->
    <div ng-controller="NotificationController">Notifications</div>
    <li class="list-group-item" ng-show="timeToPick">Let your guests know what the final decision is.</li>
    <li class="list-group-item" ng-hide="voted">You've been invited to an event. Make your selection now.</li>

    <!-- Event Navigation: -->
    <nav class="nav navbar-nav">
      <ul class="list-group">
        <li class="list-group-item"><a href="#/events">Events</a></li>
        <li class="list-group-item" ng-repeat="event in user.events"></li>
      </ul>
    </nav>
    <br />
    <br />
  </div>
    <!-- Views: -->
    <div ng-view></div>

    <!-- Client side dependencies here: -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>


    <script src="app/app.js"></script>
    <script src="app/controllers/homepage.js"></script>
    <script src="app/controllers/auth.js"></script>
    <script src="app/factories/factories.js"></script>
    <script src="app/controllers/start.js"></script>
    <script src="app/controllers/createevent.js"></script>
    <script src="app/controllers/pollresults.js"></script>
    <script src="app/controllers/preferencevote.js"></script>
    <script src="app/controllers/finalaccept.js"></script>
    <script src="app/controllers/confirmedlobby.js"></script>

    <!-- Server side Dependencies: -->
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>

