<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8" />
    <title>EVENTR</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/angular-bootstrap/ui-bootstrap-csp.css">
  </head>

  <body>
    <h1>EVENTR</h1>

    <!-- User Profile: -->
    <nav class="nav navbar-nav">User Navigation
        <li>
            <ul ng-controller="AuthController">User:{{$scope.username}}
                <button ng-click="logout()">Logout</button>
            </ul>
        </li>
    </nav>

    <!-- Notification Bar: -->
    <div class="notifications" ng-controller="NotificationController">Notifications</div>
    <li ng-show="timeToPick">Let your guests know what the final decision is.</li>
    <li ng-hide="voted">You've been invited to an event. Make your selection now.</li>

    <!-- Event Navigation: -->
    <nav class="navigation">
      <ul>
        <li><a href="#/createevent">create event</a></li>
        <li ng-repeat="event in user.events"></li>
      </ul>
    </nav>
    <br />
    <br />

    <!-- Views: -->
    <div ng-view></div>

    <!-- Client side dependencies here: -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <!-- maybe not optional: find bower install for ngAnimate -->
    <!-- optional: find bower install for ngTouch -->


    <script src="app/app.js"></script>
    <script src="app/controllers/homepage.js"></script>
    <script src="app/controllers/auth.js"></script>
    <script src="app/factories/factories.js"></script>
    <script src="app/controllers/start.js"></script>
    <script src="app/controllers/createevent.js"></script>
    <script src="app/controllers/pollresults.js"></script>
    <script src="app/controllers/preferencevote.js"></script>
    <script src="app/controllers/finalaccept.js"></script>
    <script src="app/controllers/confirmedlobby.js"></script>

    <!-- Server side Dependencies: -->
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>

  </body>
</html>

