<div ng-controller='CreateEventController'>
  Event Name: <input type="text" placeholder="event name" ng-model="eventData.name"></input> <br />
  Deadline: <input type="text" placeholder="YYYY/MM/DD" ng-model="eventData.deadline"></input> <br />
  Estimated Total Cost: <input type="text" placeholder="in $ amount" ng-model="eventData.cost"></input> <br />

  <input type="text" placeholder="deadline doesnt work" ng-model=""></input> <br />
  <input type="text" placeholder="event cost" ng-model="eventData.cost"></input> <br />
  <input type="text" placeholder="you have no friends" ng-model=""></input> <br />

  <button ng-click="addEvent()">Submit</button>

</div>
