<div ng-controller="FinalAcceptController" class="container">
  <!-- <form action="/api/endpoint" method="POST" ng-submit="QuestionsFactory.sendResponse(responses)"> -->
  <h1>Event: {{<!--event from submitted poll results page--> }}</h1>
  <h1>Time: {{ <!--time from submitted poll results page-->}}</h1>
  <h1>Cost: {{ <!--cost from submitted poll results page-->}}</h1>

  <button type="submit" class="btn btn-success">Accept</button>
  <button type="submit" class="btn btn-default">Decline</button>  
</div>