<div ng-controller="AuthController">
    <div ng-hide="loggedIn()" class="container">
        <h3>{{ loginMessage }}</h3>
        <form>
          <div class="form-group">
            <label for="userEmail">Email Address</label>
            <input class="form-control" id="userEmail" type="email" ng-model="login.email" required />
          </div>
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input class="form-control" id="userPassword" type="password" ng-model="login.password" required />
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit" ng-click="login()" value="Login">Login</button>
            <a href="#/signup">Signup</a>
          </div>
        </form>
    </div>
</div>