<div ng-controller="PreferenceVoteController">
  <!--radio buttons for now-->
  <form ng-submit="QuestionsFactory.sendResponse(responses)">
  <div class="container">
    <h4>Choose an Event</h4>
    <div class="radio" ng-repeat='event in eventChoices'>
      <label>
        <input class="radio"
          type='radio'
          name='allEvents'
          ng-value='event' 
          ng-model='selectedEvent'> {{ event }}
      </label>
    </div>
  </div>
  <div class="container">
    <h4>Choose a Date</h4>
      <div class="radio" ng-repeat='date in dateChoices'>
      <label>
        <input class="radio"
          type='radio'
          name='allDates' 
          ng-value='date'
          ng-model='responses.selectedDate'> {{ date }}
      </label>
      </div>
    </div>
    <div class="container">
    <button type="submit" class="btn btn-default">I'm ready to have fun</button>
    </div>
  </form>
</div>