<div ng-controller="PreferenceVoteController">
  <!--radio buttons for now-->
  <form ng-submit="QuestionsFactory.sendResponse(responses)">

      <h1>Choose an event</h1>
      <label ng-repeat='event in eventChoices'>
        <input type='radio'
          name='allEvents'
          ng-value='event' 
          ng-model='selectedEvent'> {{ event }} </br>
      </label>


      <h1>Choose a date</h1>
      <label ng-repeat='date in dateChoices'>
        <input type='radio'
          name='allDates' 
          ng-value='date'
          ng-model='responses.selectedDate' > {{ date }} </br>
      </label>

    
    <button type="submit">Submit Choice</button>
    
  </form>
</div>