<div ng-controller="PreferenceVoteController" class="container">
  <!--radio buttons for now-->
  <form ng-submit="QuestionsFactory.sendResponse(responses)">
  <div class="container">
    <h4>Choose an Event</h4>
    <div class="radio" ng-repeat='event in eventChoices'>
      <label>
        <input class="radio"
          type='radio'
          name='allEvents'
          ng-click='selectEvent(event)'
          ng-value='event'
          ng-model='selectedEvent'> {{ event.text }}
      </label>
    </div>
  </div>
  <div class="container">
    <h4>Choose a Date</h4>
      <div class="radio" ng-repeat='date in dateChoices'>
      <label>
        <input class="radio"
          type='radio'
          name='allDates'
          ng-click='selectDate(date)'
          ng-value='date'
          ng-model='responses.selectedDate'> {{ date.text }}
      </label>
      </div>
    </div>
    <div class="container">
    <button type="submit" ng-click="submitVote()" class="btn btn-default">I'm ready to have fun</button>
    </div>
  </form>
</div>
