<div ng-controller="AuthController">
<form>
  <h3> {{ signupMessage }}</h3>
  Name: <input type="text" ng-model = "signup.username" required /> <br />
  Email: <input type="email" ng-model = "signup.email" required /> <br />
  Password: <input type="password" ng-model = "signup.password" required /> <br />
  Confirm Password: <input type="password" ng-model = "signup.passwordConfirm" required /> <br >
  <input type="submit" ng-click="signup()" value="Signup">
  <a href="#/login">Login</a>
</form> <br />
</div>
